{% extends	'my_website_2/base.html' %}
{% block	content %}
    <div class="post">
        {% if	post.published_date %}
            <div>
                <p class="center">{{	post.published_date    }}
                </p>
            </div>
        {% endif %}

        {% if	user.is_authenticated %}
            <a class="btn	btn-default" href="{% url	'post_edit'	pk=post.pk %}">
                <span class="glyphicon	glyphicon-pencil"></span>
            </a>
        {% endif %}
        <h2 class="center">{{	post.title    }}</h2>
        <p class="center">{{	post.text|linebreaksbr    }}</p>
    </div>
{% endblock %}